/* =========================
   GENERAL APP STYLING
========================= */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}


/* =========================
   APP LAYOUT
========================= */

.app-container {
  display: flex;
  background-color: #f5f5f5;
  min-height: 100vh;
  font-family: Poppins, sans-serif;
}

.main-content {
  flex: 1;

  margin-left: 52px;
  padding: 20px;
}

/* =========================
   DASHBOARD GRID
========================= */

.dashboard-layout {
  display: grid;

  grid-template-columns: 1.2fr 1fr;

  grid-template-areas:
    "contribution tasks"
    "commit completion"
    "commit deadlines";

  gap: 12px;

  width: 100%;
  height: 95vh;
}


/* =========================
   DASHBOARD CARDS
========================= */

.card {
  background: white;
  border-radius: 18px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);

  padding: 16px;

  width: 100%;

  overflow: hidden;

  transition:
    transform 0.25s ease,
    box-shadow 0.25s ease;
}

.card-title {
  margin: 0 0 20px 0;

  font-size: 1.3rem;
  font-weight: 600;

  color: #1f2937;
}

.contribution-card {
  grid-area: commit;
  min-height: 180px;
}

.tasks-card {
  grid-area: tasks;
  min-height: 180px;
}

.commit-card {
  grid-area: contribution;
  min-height: 80px;
}

.completion-card {
  grid-area: completion;
  min-height: 80px;
}

.deadline-card-wrapper {
  grid-area: deadlines;
  min-height: 120px;
}


/* =========================
   To make it work on mobile screens
========================= */

@media (max-width: 1000px) {

  .dashboard-layout {

    grid-template-columns: 1fr;

    grid-template-areas:
      "contribution"
      "tasks"
      "completion"
      "deadlines"
      "commit";
  }

}
